<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="journalFolder" value="C:\Журнал" />
    <add key="isAdmin" value="false" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehaviour">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="LoginJournal.ClientService.AdminService" behaviorConfiguration="mexBehaviour">
        <endpoint address="MathService" binding="netTcpBinding" contract="LoginJournal.ClientService.IAdminService">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:1233" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>